# Dependencies
node_modules/

# Environment files
.env
.env.local

# Database
*.db

# Build output
dist/
build/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Uploaded files
backend/uploads/










